.buttonarrow{
  padding: 0px 0px 0px 20%;
}
li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 6px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: blue;
}
li{
  font-weight: bold;
}
ul{
  padding: 10%;
}
.leftcolumn{
background-color: blue;
height: 100%;
}
.rightcolumn{
  height: 50%;
  padding: 5%;
}
.centercolumn{
  color: blue;
  font-weight: bold;
  padding: 2% 5% 0% 0%;
}
.introductiontext{
  padding: 2%;
  text-align: center;
  color: white;

}
.letsgrabcoffeediv{
padding: 1%;
}
.faceimg{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.facediv{
  padding: 15% 0% 0% 0%
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.topicon{
  padding: 5% 0% 0% 0%;
}
.beforeaftertext{
  padding: 2% 5%;
}
